*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// Size text
@for $i from 1 through 11 {
    .font-size-#{ ($i * 2) +18} {
      font-size: ($i * 2) +18px;
    }
  }


  .row{
      display: flex;
  }
  .row-reverse{
    flex-direction: row-reverse;
}
  .inner_row{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }