$whiteBg: #fff;


// width;
$wd-65: 65%;
$wd-75: 76%;

// Colors Text
$secondaryText: #fff;
$primaryText: #2c2c2c;

// Weights Text
$boldText: bold;


//Buttons

$mainButtonText: #fff;
$secondaryButtonText: #000;
